{
  "openapi": "3.0.0",
  "info": {
    "title": "Ahrefs API v3",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.ahrefs.com/v3"
    }
  ],
  "paths": {
    "/site-explorer/domain-rating": {
      "get": {
        "tags": [
          "Overview",
          "MCP"
        ],
        "summary": "Domain rating",
        "operationId": "site-explorer_domain-rating",
        "parameters": [
          {
            "description": "The protocol of your target.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "both",
                "http",
                "https"
              ],
              "default": "both"
            },
            "name": "protocol",
            "in": "query"
          },
          {
            "description": "The target of the search: a domain or a URL.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            },
            "name": "target",
            "in": "query"
          },
          {
            "description": "A date to report metrics on in YYYY-MM-DD format.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "date",
            "in": "query"
          },
          {
            "$ref": "#/components/parameters/output"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain-rating"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/domain-rating"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error_400"
          },
          "401": {
            "$ref": "#/components/responses/error_401"
          },
          "403": {
            "$ref": "#/components/responses/error_403"
          },
          "429": {
            "$ref": "#/components/responses/error_429"
          },
          "500": {
            "$ref": "#/components/responses/error_500"
          }
        }
      }
    },
    "/site-explorer/backlinks-stats": {
      "get": {
        "tags": [
          "Overview",
          "MCP"
        ],
        "summary": "Backlinks stats",
        "operationId": "site-explorer_backlinks-stats",
        "parameters": [
          {
            "description": "The protocol of your target.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "both",
                "http",
                "https"
              ],
              "default": "both"
            },
            "name": "protocol",
            "in": "query"
          },
          {
            "description": "The target of the search: a domain or a URL.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            },
            "name": "target",
            "in": "query"
          },
          {
            "description": "The scope of the search based on the target you entered.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "exact",
                "prefix",
                "domain",
                "subdomains"
              ],
              "default": "subdomains"
            },
            "name": "mode",
            "in": "query"
          },
          {
            "description": "A date to report metrics on in YYYY-MM-DD format.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "date",
            "in": "query"
          },
          {
            "$ref": "#/components/parameters/output"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/backlinks-stats"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/backlinks-stats"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error_400"
          },
          "401": {
            "$ref": "#/components/responses/error_401"
          },
          "403": {
            "$ref": "#/components/responses/error_403"
          },
          "429": {
            "$ref": "#/components/responses/error_429"
          },
          "500": {
            "$ref": "#/components/responses/error_500"
          }
        }
      }
    },
    "/site-explorer/outlinks-stats": {
      "get": {
        "tags": [
          "Overview",
          "MCP"
        ],
        "summary": "Outlinks stats",
        "description": "**This is a beta version of the endpoint. The data it returns may not always exactly match the corresponding values in Ahrefs UI. Data accuracy will be improved soon.**",
        "operationId": "site-explorer_outlinks-stats",
        "parameters": [
          {
            "description": "The protocol of your target.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "both",
                "http",
                "https"
              ],
              "default": "both"
            },
            "name": "protocol",
            "in": "query"
          },
          {
            "description": "The scope of the search based on the target you entered.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "exact",
                "prefix",
                "domain",
                "subdomains"
              ],
              "default": "subdomains"
            },
            "name": "mode",
            "in": "query"
          },
          {
            "description": "The target of the search: a domain or a URL.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            },
            "name": "target",
            "in": "query"
          },
          {
            "$ref": "#/components/parameters/output"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/outlinks-stats"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/outlinks-stats"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error_400"
          },
          "401": {
            "$ref": "#/components/responses/error_401"
          },
          "403": {
            "$ref": "#/components/responses/error_403"
          },
          "429": {
            "$ref": "#/components/responses/error_429"
          },
          "500": {
            "$ref": "#/components/responses/error_500"
          }
        }
      }
    },
    "/site-explorer/metrics": {
      "get": {
        "tags": [
          "Overview",
          "MCP"
        ],
        "summary": "Metrics",
        "operationId": "site-explorer_metrics",
        "parameters": [
          {
            "description": "The search volume calculation mode: monthly or average. It affects volume, traffic, and traffic value.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "monthly",
                "average"
              ],
              "default": "monthly"
            },
            "name": "volume_mode",
            "in": "query"
          },
          {
            "description": "A two-letter country code (ISO 3166-1 alpha-2).",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "ad",
                "ae",
                "af",
                "ag",
                "ai",
                "al",
                "am",
                "ao",
                "ar",
                "as",
                "at",
                "au",
                "aw",
                "az",
                "ba",
                "bb",
                "bd",
                "be",
                "bf",
                "bg",
                "bh",
                "bi",
                "bj",
                "bn",
                "bo",
                "br",
                "bs",
                "bt",
                "bw",
                "by",
                "bz",
                "ca",
                "cd",
                "cf",
                "cg",
                "ch",
                "ci",
                "ck",
                "cl",
                "cm",
                "cn",
                "co",
                "cr",
                "cu",
                "cv",
                "cy",
                "cz",
                "de",
                "dj",
                "dk",
                "dm",
                "do",
                "dz",
                "ec",
                "ee",
                "eg",
                "es",
                "et",
                "fi",
                "fj",
                "fm",
                "fo",
                "fr",
                "ga",
                "gb",
                "gd",
                "ge",
                "gf",
                "gg",
                "gh",
                "gi",
                "gl",
                "gm",
                "gn",
                "gp",
                "gq",
                "gr",
                "gt",
                "gu",
                "gy",
                "hk",
                "hn",
                "hr",
                "ht",
                "hu",
                "id",
                "ie",
                "il",
                "im",
                "in",
                "iq",
                "is",
                "it",
                "je",
                "jm",
                "jo",
                "jp",
                "ke",
                "kg",
                "kh",
                "ki",
                "kn",
                "kr",
                "kw",
                "ky",
                "kz",
                "la",
                "lb",
                "lc",
                "li",
                "lk",
                "ls",
                "lt",
                "lu",
                "lv",
                "ly",
                "ma",
                "mc",
                "md",
                "me",
                "mg",
                "mk",
                "ml",
                "mm",
                "mn",
                "mq",
                "mr",
                "ms",
                "mt",
                "mu",
                "mv",
                "mw",
                "mx",
                "my",
                "mz",
                "na",
                "nc",
                "ne",
                "ng",
                "ni",
                "nl",
                "no",
                "np",
                "nr",
                "nu",
                "nz",
                "om",
                "pa",
                "pe",
                "pf",
                "pg",
                "ph",
                "pk",
                "pl",
                "pn",
                "pr",
                "ps",
                "pt",
                "py",
                "qa",
                "re",
                "ro",
                "rs",
                "ru",
                "rw",
                "sa",
                "sb",
                "sc",
                "se",
                "sg",
                "sh",
                "si",
                "sk",
                "sl",
                "sm",
                "sn",
                "so",
                "sr",
                "st",
                "sv",
                "td",
                "tg",
                "th",
                "tj",
                "tk",
                "tl",
                "tm",
                "tn",
                "to",
                "tr",
                "tt",
                "tw",
                "tz",
                "ua",
                "ug",
                "us",
                "uy",
                "uz",
                "vc",
                "ve",
                "vg",
                "vi",
                "vn",
                "vu",
                "ws",
                "ye",
                "yt",
                "za",
                "zm",
                "zw"
              ]
            },
            "name": "country",
            "in": "query"
          },
          {
            "description": "The protocol of your target.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "both",
                "http",
                "https"
              ],
              "default": "both"
            },
            "name": "protocol",
            "in": "query"
          },
          {
            "description": "The target of the search: a domain or a URL.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            },
            "name": "target",
            "in": "query"
          },
          {
            "description": "The scope of the search based on the target you entered.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "exact",
                "prefix",
                "domain",
                "subdomains"
              ],
              "default": "subdomains"
            },
            "name": "mode",
            "in": "query"
          },
          {
            "description": "A date to report metrics on in YYYY-MM-DD format.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "date",
            "in": "query"
          },
          {
            "$ref": "#/components/parameters/output"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/metrics"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/metrics"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error_400"
          },
          "401": {
            "$ref": "#/components/responses/error_401"
          },
          "403": {
            "$ref": "#/components/responses/error_403"
          },
          "429": {
            "$ref": "#/components/responses/error_429"
          },
          "500": {
            "$ref": "#/components/responses/error_500"
          }
        }
      }
    },
    "/site-explorer/refdomains-history": {
      "get": {
        "tags": [
          "Overview",
          "MCP"
        ],
        "summary": "Refdomains history",
        "operationId": "site-explorer_refdomains-history",
        "parameters": [
          {
            "description": "The time interval used to group historical data.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ],
              "default": "monthly"
            },
            "name": "history_grouping",
            "in": "query"
          },
          {
            "description": "The end date of the historical period in YYYY-MM-DD format.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "date_to",
            "in": "query"
          },
          {
            "description": "The start date of the historical period in YYYY-MM-DD format.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "date_from",
            "in": "query"
          },
          {
            "description": "The protocol of your target.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "both",
                "http",
                "https"
              ],
              "default": "both"
            },
            "name": "protocol",
            "in": "query"
          },
          {
            "description": "The target of the search: a domain or a URL.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            },
            "name": "target",
            "in": "query"
          },
          {
            "description": "The scope of the search based on the target you entered.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "exact",
                "prefix",
                "domain",
                "subdomains"
              ],
              "default": "subdomains"
            },
            "name": "mode",
            "in": "query"
          },
          {
            "$ref": "#/components/parameters/output"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/refdomains-history"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/refdomains-history"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error_400"
          },
          "401": {
            "$ref": "#/components/responses/error_401"
          },
          "403": {
            "$ref": "#/components/responses/error_403"
          },
          "429": {
            "$ref": "#/components/responses/error_429"
          },
          "500": {
            "$ref": "#/components/responses/error_500"
          }
        }
      }
    },
    "/site-explorer/domain-rating-history": {
      "get": {
        "tags": [
          "Overview",
          "MCP"
        ],
        "summary": "Domain Rating history",
        "operationId": "site-explorer_domain-rating-history",
        "parameters": [
          {
            "description": "The time interval used to group historical data.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ],
              "default": "monthly"
            },
            "name": "history_grouping",
            "in": "query"
          },
          {
            "description": "The end date of the historical period in YYYY-MM-DD format.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "date_to",
            "in": "query"
          },
          {
            "description": "The start date of the historical period in YYYY-MM-DD format.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "date_from",
            "in": "query"
          },
          {
            "description": "The target of the search: a domain or a URL.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            },
            "name": "target",
            "in": "query"
          },
          {
            "$ref": "#/components/parameters/output"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain-rating-history"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/domain-rating-history"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error_400"
          },
          "401": {
            "$ref": "#/components/responses/error_401"
          },
          "403": {
            "$ref": "#/components/responses/error_403"
          },
          "429": {
            "$ref": "#/components/responses/error_429"
          },
          "500": {
            "$ref": "#/components/responses/error_500"
          }
        }
      }
    },
    "/site-explorer/url-rating-history": {
      "get": {
        "tags": [
          "Overview",
          "MCP"
        ],
        "summary": "URL Rating history",
        "operationId": "site-explorer_url-rating-history",
        "parameters": [
          {
            "description": "The time interval used to group historical data.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ],
              "default": "monthly"
            },
            "name": "history_grouping",
            "in": "query"
          },
          {
            "description": "The end date of the historical period in YYYY-MM-DD format.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "date_to",
            "in": "query"
          },
          {
            "description": "The start date of the historical period in YYYY-MM-DD format.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "date_from",
            "in": "query"
          },
          {
            "description": "The target of the search: a domain or a URL.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            },
            "name": "target",
            "in": "query"
          },
          {
            "$ref": "#/components/parameters/output"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/url-rating-history"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/url-rating-history"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error_400"
          },
          "401": {
            "$ref": "#/components/responses/error_401"
          },
          "403": {
            "$ref": "#/components/responses/error_403"
          },
          "429": {
            "$ref": "#/components/responses/error_429"
          },
          "500": {
            "$ref": "#/components/responses/error_500"
          }
        }
      }
    },
    "/site-explorer/pages-history": {
      "get": {
        "tags": [
          "Overview",
          "MCP"
        ],
        "summary": "Pages history",
        "operationId": "site-explorer_pages-history",
        "parameters": [
          {
            "description": "Filter pages by their ranking position. `top10` returns only pages ranking in the top 10, `top100` returns all pages ranking in the top 100.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "top10",
                "top100"
              ],
              "default": "top100"
            },
            "name": "page_positions",
            "in": "query"
          },
          {
            "description": "The time interval used to group historical data.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ],
              "default": "monthly"
            },
            "name": "history_grouping",
            "in": "query"
          },
          {
            "description": "The end date of the historical period in YYYY-MM-DD format.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "date_to",
            "in": "query"
          },
          {
            "description": "The start date of the historical period in YYYY-MM-DD format.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "date_from",
            "in": "query"
          },
          {
            "description": "A two-letter country code (ISO 3166-1 alpha-2).",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "ad",
                "ae",
                "af",
                "ag",
                "ai",
                "al",
                "am",
                "ao",
                "ar",
                "as",
                "at",
                "au",
                "aw",
                "az",
                "ba",
                "bb",
                "bd",
                "be",
                "bf",
                "bg",
                "bh",
                "bi",
                "bj",
                "bn",
                "bo",
                "br",
                "bs",
                "bt",
                "bw",
                "by",
                "bz",
                "ca",
                "cd",
                "cf",
                "cg",
                "ch",
                "ci",
                "ck",
                "cl",
                "cm",
                "cn",
                "co",
                "cr",
                "cu",
                "cv",
                "cy",
                "cz",
                "de",
                "dj",
                "dk",
                "dm",
                "do",
                "dz",
                "ec",
                "ee",
                "eg",
                "es",
                "et",
                "fi",
                "fj",
                "fm",
                "fo",
                "fr",
                "ga",
                "gb",
                "gd",
                "ge",
                "gf",
                "gg",
                "gh",
                "gi",
                "gl",
                "gm",
                "gn",
                "gp",
                "gq",
                "gr",
                "gt",
                "gu",
                "gy",
                "hk",
                "hn",
                "hr",
                "ht",
                "hu",
                "id",
                "ie",
                "il",
                "im",
                "in",
                "iq",
                "is",
                "it",
                "je",
                "jm",
                "jo",
                "jp",
                "ke",
                "kg",
                "kh",
                "ki",
                "kn",
                "kr",
                "kw",
                "ky",
                "kz",
                "la",
                "lb",
                "lc",
                "li",
                "lk",
                "ls",
                "lt",
                "lu",
                "lv",
                "ly",
                "ma",
                "mc",
                "md",
                "me",
                "mg",
                "mk",
                "ml",
                "mm",
                "mn",
                "mq",
                "mr",
                "ms",
                "mt",
                "mu",
                "mv",
                "mw",
                "mx",
                "my",
                "mz",
                "na",
                "nc",
                "ne",
                "ng",
                "ni",
                "nl",
                "no",
                "np",
                "nr",
                "nu",
                "nz",
                "om",
                "pa",
                "pe",
                "pf",
                "pg",
                "ph",
                "pk",
                "pl",
                "pn",
                "pr",
                "ps",
                "pt",
                "py",
                "qa",
                "re",
                "ro",
                "rs",
                "ru",
                "rw",
                "sa",
                "sb",
                "sc",
                "se",
                "sg",
                "sh",
                "si",
                "sk",
                "sl",
                "sm",
                "sn",
                "so",
                "sr",
                "st",
                "sv",
                "td",
                "tg",
                "th",
                "tj",
                "tk",
                "tl",
                "tm",
                "tn",
                "to",
                "tr",
                "tt",
                "tw",
                "tz",
                "ua",
                "ug",
                "us",
                "uy",
                "uz",
                "vc",
                "ve",
                "vg",
                "vi",
                "vn",
                "vu",
                "ws",
                "ye",
                "yt",
                "za",
                "zm",
                "zw"
              ]
            },
            "name": "country",
            "in": "query"
          },
          {
            "description": "The protocol of your target.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "both",
                "http",
                "https"
              ],
              "default": "both"
            },
            "name": "protocol",
            "in": "query"
          },
          {
            "description": "The target of the search: a domain or a URL.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            },
            "name": "target",
            "in": "query"
          },
          {
            "description": "The scope of the search based on the target you entered.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "exact",
                "prefix",
                "domain",
                "subdomains"
              ],
              "default": "subdomains"
            },
            "name": "mode",
            "in": "query"
          },
          {
            "$ref": "#/components/parameters/output"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages-history"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/pages-history"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error_400"
          },
          "401": {
            "$ref": "#/components/responses/error_401"
          },
          "403": {
            "$ref": "#/components/responses/error_403"
          },
          "429": {
            "$ref": "#/components/responses/error_429"
          },
          "500": {
            "$ref": "#/components/responses/error_500"
          }
        }
      }
    },
    "/site-explorer/metrics-history": {
      "get": {
        "tags": [
          "Overview",
          "MCP"
        ],
        "summary": "Metrics history",
        "operationId": "site-explorer_metrics-history",
        "parameters": [
          {
            "description": "A comma-separated list of columns to return. See response schema for valid column identifiers.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "default": "date,org_cost,org_traffic,paid_cost,paid_traffic"
            },
            "name": "select",
            "in": "query"
          },
          {
            "description": "The search volume calculation mode: monthly or average. It affects volume, traffic, and traffic value.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "monthly",
                "average"
              ],
              "default": "monthly"
            },
            "name": "volume_mode",
            "in": "query"
          },
          {
            "description": "The time interval used to group historical data.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ],
              "default": "monthly"
            },
            "name": "history_grouping",
            "in": "query"
          },
          {
            "description": "The end date of the historical period in YYYY-MM-DD format.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "date_to",
            "in": "query"
          },
          {
            "description": "The start date of the historical period in YYYY-MM-DD format.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "date_from",
            "in": "query"
          },
          {
            "description": "A two-letter country code (ISO 3166-1 alpha-2).",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "ad",
                "ae",
                "af",
                "ag",
                "ai",
                "al",
                "am",
                "ao",
                "ar",
                "as",
                "at",
                "au",
                "aw",
                "az",
                "ba",
                "bb",
                "bd",
                "be",
                "bf",
                "bg",
                "bh",
                "bi",
                "bj",
                "bn",
                "bo",
                "br",
                "bs",
                "bt",
                "bw",
                "by",
                "bz",
                "ca",
                "cd",
                "cf",
                "cg",
                "ch",
                "ci",
                "ck",
                "cl",
                "cm",
                "cn",
                "co",
                "cr",
                "cu",
                "cv",
                "cy",
                "cz",
                "de",
                "dj",
                "dk",
                "dm",
                "do",
                "dz",
                "ec",
                "ee",
                "eg",
                "es",
                "et",
                "fi",
                "fj",
                "fm",
                "fo",
                "fr",
                "ga",
                "gb",
                "gd",
                "ge",
                "gf",
                "gg",
                "gh",
                "gi",
                "gl",
                "gm",
                "gn",
                "gp",
                "gq",
                "gr",
                "gt",
                "gu",
                "gy",
                "hk",
                "hn",
                "hr",
                "ht",
                "hu",
                "id",
                "ie",
                "il",
                "im",
                "in",
                "iq",
                "is",
                "it",
                "je",
                "jm",
                "jo",
                "jp",
                "ke",
                "kg",
                "kh",
                "ki",
                "kn",
                "kr",
                "kw",
                "ky",
                "kz",
                "la",
                "lb",
                "lc",
                "li",
                "lk",
                "ls",
                "lt",
                "lu",
                "lv",
                "ly",
                "ma",
                "mc",
                "md",
                "me",
                "mg",
                "mk",
                "ml",
                "mm",
                "mn",
                "mq",
                "mr",
                "ms",
                "mt",
                "mu",
                "mv",
                "mw",
                "mx",
                "my",
                "mz",
                "na",
                "nc",
                "ne",
                "ng",
                "ni",
                "nl",
                "no",
                "np",
                "nr",
                "nu",
                "nz",
                "om",
                "pa",
                "pe",
                "pf",
                "pg",
                "ph",
                "pk",
                "pl",
                "pn",
                "pr",
                "ps",
                "pt",
                "py",
                "qa",
                "re",
                "ro",
                "rs",
                "ru",
                "rw",
                "sa",
                "sb",
                "sc",
                "se",
                "sg",
                "sh",
                "si",
                "sk",
                "sl",
                "sm",
                "sn",
                "so",
                "sr",
                "st",
                "sv",
                "td",
                "tg",
                "th",
                "tj",
                "tk",
                "tl",
                "tm",
                "tn",
                "to",
                "tr",
                "tt",
                "tw",
                "tz",
                "ua",
                "ug",
                "us",
                "uy",
                "uz",
                "vc",
                "ve",
                "vg",
                "vi",
                "vn",
                "vu",
                "ws",
                "ye",
                "yt",
                "za",
                "zm",
                "zw"
              ]
            },
            "name": "country",
            "in": "query"
          },
          {
            "description": "The protocol of your target.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "both",
                "http",
                "https"
              ],
              "default": "both"
            },
            "name": "protocol",
            "in": "query"
          },
          {
            "description": "The target of the search: a domain or a URL.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            },
            "name": "target",
            "in": "query"
          },
          {
            "description": "The scope of the search based on the target you entered.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "exact",
                "prefix",
                "domain",
                "subdomains"
              ],
              "default": "subdomains"
            },
            "name": "mode",
            "in": "query"
          },
          {
            "$ref": "#/components/parameters/output"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/metrics-history"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/metrics-history"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error_400"
          },
          "401": {
            "$ref": "#/components/responses/error_401"
          },
          "403": {
            "$ref": "#/components/responses/error_403"
          },
          "429": {
            "$ref": "#/components/responses/error_429"
          },
          "500": {
            "$ref": "#/components/responses/error_500"
          }
        }
      }
    },
    "/site-explorer/keywords-history": {
      "get": {
        "tags": [
          "Overview",
          "MCP"
        ],
        "summary": "Keywords history",
        "operationId": "site-explorer_keywords-history",
        "parameters": [
          {
            "description": "A comma-separated list of columns to return. See response schema for valid column identifiers.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "default": "date,top3,top4_10,top11_plus"
            },
            "name": "select",
            "in": "query"
          },
          {
            "description": "The time interval used to group historical data.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ],
              "default": "monthly"
            },
            "name": "history_grouping",
            "in": "query"
          },
          {
            "description": "The end date of the historical period in YYYY-MM-DD format.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "date_to",
            "in": "query"
          },
          {
            "description": "The start date of the historical period in YYYY-MM-DD format.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "date_from",
            "in": "query"
          },
          {
            "description": "A two-letter country code (ISO 3166-1 alpha-2).",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "ad",
                "ae",
                "af",
                "ag",
                "ai",
                "al",
                "am",
                "ao",
                "ar",
                "as",
                "at",
                "au",
                "aw",
                "az",
                "ba",
                "bb",
                "bd",
                "be",
                "bf",
                "bg",
                "bh",
                "bi",
                "bj",
                "bn",
                "bo",
                "br",
                "bs",
                "bt",
                "bw",
                "by",
                "bz",
                "ca",
                "cd",
                "cf",
                "cg",
                "ch",
                "ci",
                "ck",
                "cl",
                "cm",
                "cn",
                "co",
                "cr",
                "cu",
                "cv",
                "cy",
                "cz",
                "de",
                "dj",
                "dk",
                "dm",
                "do",
                "dz",
                "ec",
                "ee",
                "eg",
                "es",
                "et",
                "fi",
                "fj",
                "fm",
                "fo",
                "fr",
                "ga",
                "gb",
                "gd",
                "ge",
                "gf",
                "gg",
                "gh",
                "gi",
                "gl",
                "gm",
                "gn",
                "gp",
                "gq",
                "gr",
                "gt",
                "gu",
                "gy",
                "hk",
                "hn",
                "hr",
                "ht",
                "hu",
                "id",
                "ie",
                "il",
                "im",
                "in",
                "iq",
                "is",
                "it",
                "je",
                "jm",
                "jo",
                "jp",
                "ke",
                "kg",
                "kh",
                "ki",
                "kn",
                "kr",
                "kw",
                "ky",
                "kz",
                "la",
                "lb",
                "lc",
                "li",
                "lk",
                "ls",
                "lt",
                "lu",
                "lv",
                "ly",
                "ma",
                "mc",
                "md",
                "me",
                "mg",
                "mk",
                "ml",
                "mm",
                "mn",
                "mq",
                "mr",
                "ms",
                "mt",
                "mu",
                "mv",
                "mw",
                "mx",
                "my",
                "mz",
                "na",
                "nc",
                "ne",
                "ng",
                "ni",
                "nl",
                "no",
                "np",
                "nr",
                "nu",
                "nz",
                "om",
                "pa",
                "pe",
                "pf",
                "pg",
                "ph",
                "pk",
                "pl",
                "pn",
                "pr",
                "ps",
                "pt",
                "py",
                "qa",
                "re",
                "ro",
                "rs",
                "ru",
                "rw",
                "sa",
                "sb",
                "sc",
                "se",
                "sg",
                "sh",
                "si",
                "sk",
                "sl",
                "sm",
                "sn",
                "so",
                "sr",
                "st",
                "sv",
                "td",
                "tg",
                "th",
                "tj",
                "tk",
                "tl",
                "tm",
                "tn",
                "to",
                "tr",
                "tt",
                "tw",
                "tz",
                "ua",
                "ug",
                "us",
                "uy",
                "uz",
                "vc",
                "ve",
                "vg",
                "vi",
                "vn",
                "vu",
                "ws",
                "ye",
                "yt",
                "za",
                "zm",
                "zw"
              ]
            },
            "name": "country",
            "in": "query"
          },
          {
            "description": "The protocol of your target.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "both",
                "http",
                "https"
              ],
              "default": "both"
            },
            "name": "protocol",
            "in": "query"
          },
          {
            "description": "The target of the search: a domain or a URL.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            },
            "name": "target",
            "in": "query"
          },
          {
            "description": "The scope of the search based on the target you entered.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "exact",
                "prefix",
                "domain",
                "subdomains"
              ],
              "default": "subdomains"
            },
            "name": "mode",
            "in": "query"
          },
          {
            "$ref": "#/components/parameters/output"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/keywords-history"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/keywords-history"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error_400"
          },
          "401": {
            "$ref": "#/components/responses/error_401"
          },
          "403": {
            "$ref": "#/components/responses/error_403"
          },
          "429": {
            "$ref": "#/components/responses/error_429"
          },
          "500": {
            "$ref": "#/components/responses/error_500"
          }
        }
      }
    },
    "/site-explorer/metrics-by-country": {
      "get": {
        "tags": [
          "Overview",
          "MCP"
        ],
        "summary": "Metrics by country",
        "operationId": "site-explorer_metrics-by-country",
        "parameters": [
          {
            "description": "A comma-separated list of columns to return. See response schema for valid column identifiers.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "default": "paid_cost,paid_keywords,org_cost,paid_pages,org_keywords_1_3,org_keywords,org_traffic,paid_traffic,country"
            },
            "name": "select",
            "in": "query"
          },
          {
            "description": "The search volume calculation mode: monthly or average. It affects volume, traffic, and traffic value.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "monthly",
                "average"
              ],
              "default": "monthly"
            },
            "name": "volume_mode",
            "in": "query"
          },
          {
            "description": "The protocol of your target.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "both",
                "http",
                "https"
              ],
              "default": "both"
            },
            "name": "protocol",
            "in": "query"
          },
          {
            "description": "The target of the search: a domain or a URL.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            },
            "name": "target",
            "in": "query"
          },
          {
            "description": "The scope of the search based on the target you entered.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "exact",
                "prefix",
                "domain",
                "subdomains"
              ],
              "default": "subdomains"
            },
            "name": "mode",
            "in": "query"
          },
          {
            "description": "A date to report metrics on in YYYY-MM-DD format.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "date",
            "in": "query"
          },
          {
            "$ref": "#/components/parameters/output"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/metrics-by-country"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/metrics-by-country"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error_400"
          },
          "401": {
            "$ref": "#/components/responses/error_401"
          },
          "403": {
            "$ref": "#/components/responses/error_403"
          },
          "429": {
            "$ref": "#/components/responses/error_429"
          },
          "500": {
            "$ref": "#/components/responses/error_500"
          }
        }
      }
    },
    "/site-explorer/pages-by-traffic": {
      "get": {
        "tags": [
          "Overview",
          "MCP"
        ],
        "summary": "Pages by traffic",
        "operationId": "site-explorer_pages-by-traffic",
        "parameters": [
          {
            "description": "The search volume calculation mode: monthly or average. It affects volume, traffic, and traffic value.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "monthly",
                "average"
              ],
              "default": "monthly"
            },
            "name": "volume_mode",
            "in": "query"
          },
          {
            "description": "A two-letter country code (ISO 3166-1 alpha-2).",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "ad",
                "ae",
                "af",
                "ag",
                "ai",
                "al",
                "am",
                "ao",
                "ar",
                "as",
                "at",
                "au",
                "aw",
                "az",
                "ba",
                "bb",
                "bd",
                "be",
                "bf",
                "bg",
                "bh",
                "bi",
                "bj",
                "bn",
                "bo",
                "br",
                "bs",
                "bt",
                "bw",
                "by",
                "bz",
                "ca",
                "cd",
                "cf",
                "cg",
                "ch",
                "ci",
                "ck",
                "cl",
                "cm",
                "cn",
                "co",
                "cr",
                "cu",
                "cv",
                "cy",
                "cz",
                "de",
                "dj",
                "dk",
                "dm",
                "do",
                "dz",
                "ec",
                "ee",
                "eg",
                "es",
                "et",
                "fi",
                "fj",
                "fm",
                "fo",
                "fr",
                "ga",
                "gb",
                "gd",
                "ge",
                "gf",
                "gg",
                "gh",
                "gi",
                "gl",
                "gm",
                "gn",
                "gp",
                "gq",
                "gr",
                "gt",
                "gu",
                "gy",
                "hk",
                "hn",
                "hr",
                "ht",
                "hu",
                "id",
                "ie",
                "il",
                "im",
                "in",
                "iq",
                "is",
                "it",
                "je",
                "jm",
                "jo",
                "jp",
                "ke",
                "kg",
                "kh",
                "ki",
                "kn",
                "kr",
                "kw",
                "ky",
                "kz",
                "la",
                "lb",
                "lc",
                "li",
                "lk",
                "ls",
                "lt",
                "lu",
                "lv",
                "ly",
                "ma",
                "mc",
                "md",
                "me",
                "mg",
                "mk",
                "ml",
                "mm",
                "mn",
                "mq",
                "mr",
                "ms",
                "mt",
                "mu",
                "mv",
                "mw",
                "mx",
                "my",
                "mz",
                "na",
                "nc",
                "ne",
                "ng",
                "ni",
                "nl",
                "no",
                "np",
                "nr",
                "nu",
                "nz",
                "om",
                "pa",
                "pe",
                "pf",
                "pg",
                "ph",
                "pk",
                "pl",
                "pn",
                "pr",
                "ps",
                "pt",
                "py",
                "qa",
                "re",
                "ro",
                "rs",
                "ru",
                "rw",
                "sa",
                "sb",
                "sc",
                "se",
                "sg",
                "sh",
                "si",
                "sk",
                "sl",
                "sm",
                "sn",
                "so",
                "sr",
                "st",
                "sv",
                "td",
                "tg",
                "th",
                "tj",
                "tk",
                "tl",
                "tm",
                "tn",
                "to",
                "tr",
                "tt",
                "tw",
                "tz",
                "ua",
                "ug",
                "us",
                "uy",
                "uz",
                "vc",
                "ve",
                "vg",
                "vi",
                "vn",
                "vu",
                "ws",
                "ye",
                "yt",
                "za",
                "zm",
                "zw"
              ]
            },
            "name": "country",
            "in": "query"
          },
          {
            "description": "The protocol of your target.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "both",
                "http",
                "https"
              ],
              "default": "both"
            },
            "name": "protocol",
            "in": "query"
          },
          {
            "description": "The target of the search: a domain or a URL.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            },
            "name": "target",
            "in": "query"
          },
          {
            "description": "The scope of the search based on the target you entered.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "exact",
                "prefix",
                "domain",
                "subdomains"
              ],
              "default": "subdomains"
            },
            "name": "mode",
            "in": "query"
          },
          {
            "$ref": "#/components/parameters/output"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages-by-traffic"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/pages-by-traffic"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error_400"
          },
          "401": {
            "$ref": "#/components/responses/error_401"
          },
          "403": {
            "$ref": "#/components/responses/error_403"
          },
          "429": {
            "$ref": "#/components/responses/error_429"
          },
          "500": {
            "$ref": "#/components/responses/error_500"
          }
        }
      }
    },
    "/site-explorer/total-search-volume-history": {
      "get": {
        "tags": [
          "Overview",
          "MCP"
        ],
        "summary": "Total search volume history",
        "operationId": "site-explorer_total-search-volume-history",
        "parameters": [
          {
            "description": "The search volume calculation mode: monthly or average. It affects volume, traffic, and traffic value.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "monthly",
                "average"
              ],
              "default": "monthly"
            },
            "name": "volume_mode",
            "in": "query"
          },
          {
            "description": "The number of top organic search positions to consider when calculating total search volume.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "top_10",
                "top_100"
              ],
              "default": "top_10"
            },
            "name": "top_positions",
            "in": "query"
          },
          {
            "description": "The time interval used to group historical data.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ],
              "default": "monthly"
            },
            "name": "history_grouping",
            "in": "query"
          },
          {
            "description": "The end date of the historical period in YYYY-MM-DD format.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "date_to",
            "in": "query"
          },
          {
            "description": "The start date of the historical period in YYYY-MM-DD format.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "name": "date_from",
            "in": "query"
          },
          {
            "description": "A two-letter country code (ISO 3166-1 alpha-2).",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "ad",
                "ae",
                "af",
                "ag",
                "ai",
                "al",
                "am",
                "ao",
                "ar",
                "as",
                "at",
                "au",
                "aw",
                "az",
                "ba",
                "bb",
                "bd",
                "be",
                "bf",
                "bg",
                "bh",
                "bi",
                "bj",
                "bn",
                "bo",
                "br",
                "bs",
                "bt",
                "bw",
                "by",
                "bz",
                "ca",
                "cd",
                "cf",
                "cg",
                "ch",
                "ci",
                "ck",
                "cl",
                "cm",
                "cn",
                "co",
                "cr",
                "cu",
                "cv",
                "cy",
                "cz",
                "de",
                "dj",
                "dk",
                "dm",
                "do",
                "dz",
                "ec",
                "ee",
                "eg",
                "es",
                "et",
                "fi",
                "fj",
                "fm",
                "fo",
                "fr",
                "ga",
                "gb",
                "gd",
                "ge",
                "gf",
                "gg",
                "gh",
                "gi",
                "gl",
                "gm",
                "gn",
                "gp",
                "gq",
                "gr",
                "gt",
                "gu",
                "gy",
                "hk",
                "hn",
                "hr",
                "ht",
                "hu",
                "id",
                "ie",
                "il",
                "im",
                "in",
                "iq",
                "is",
                "it",
                "je",
                "jm",
                "jo",
                "jp",
                "ke",
                "kg",
                "kh",
                "ki",
                "kn",
                "kr",
                "kw",
                "ky",
                "kz",
                "la",
                "lb",
                "lc",
                "li",
                "lk",
                "ls",
                "lt",
                "lu",
                "lv",
                "ly",
                "ma",
                "mc",
                "md",
                "me",
                "mg",
                "mk",
                "ml",
                "mm",
                "mn",
                "mq",
                "mr",
                "ms",
                "mt",
                "mu",
                "mv",
                "mw",
                "mx",
                "my",
                "mz",
                "na",
                "nc",
                "ne",
                "ng",
                "ni",
                "nl",
                "no",
                "np",
                "nr",
                "nu",
                "nz",
                "om",
                "pa",
                "pe",
                "pf",
                "pg",
                "ph",
                "pk",
                "pl",
                "pn",
                "pr",
                "ps",
                "pt",
                "py",
                "qa",
                "re",
                "ro",
                "rs",
                "ru",
                "rw",
                "sa",
                "sb",
                "sc",
                "se",
                "sg",
                "sh",
                "si",
                "sk",
                "sl",
                "sm",
                "sn",
                "so",
                "sr",
                "st",
                "sv",
                "td",
                "tg",
                "th",
                "tj",
                "tk",
                "tl",
                "tm",
                "tn",
                "to",
                "tr",
                "tt",
                "tw",
                "tz",
                "ua",
                "ug",
                "us",
                "uy",
                "uz",
                "vc",
                "ve",
                "vg",
                "vi",
                "vn",
                "vu",
                "ws",
                "ye",
                "yt",
                "za",
                "zm",
                "zw"
              ]
            },
            "name": "country",
            "in": "query"
          },
          {
            "description": "The protocol of your target.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "both",
                "http",
                "https"
              ],
              "default": "both"
            },
            "name": "protocol",
            "in": "query"
          },
          {
            "description": "The target of the search: a domain or a URL.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            },
            "name": "target",
            "in": "query"
          },
          {
            "description": "The scope of the search based on the target you entered.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "exact",
                "prefix",
                "domain",
                "subdomains"
              ],
              "default": "subdomains"
            },
            "name": "mode",
            "in": "query"
          },
          {
            "$ref": "#/components/parameters/output"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/total-search-volume-history"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/total-search-volume-history"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error_400"
          },
          "401": {
            "$ref": "#/components/responses/error_401"
          },
          "403": {
            "$ref": "#/components/responses/error_403"
          },
          "429": {
            "$ref": "#/components/responses/error_429"
          },
          "500": {
            "$ref": "#/components/responses/error_500"
          }
        }
      }
    },
    "/site-explorer/all-backlinks": {
      "get": {
        "tags": [
          "Backlinks profile",
          "MCP"
        ],
        "summary": "Backlinks",
        "operationId": "site-explorer_all-backlinks",
        "parameters": [
          {
            "description": "A manual timeout duration in seconds.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "integer"
            },
            "name": "timeout",
            "in": "query"
          },
          {
            "description": "The number of results to return.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "default": 1000
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "A column to order results by. See the response schema for valid column identifiers, except for `link_group_count`, which is not supported in `order_by` for this endpoint.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "examples": [
                "field_a,field_b:asc,field_c:desc"
              ]
            },
            "name": "order_by",
            "in": "query"
          },
          {
            "description": "The filter expression. The following column identifiers are recognized (this differs from the identifiers recognized by the `select` parameter).\n\n**ahrefs_rank_source**: The strength of the referring domain's backlink profile compared to the other websites in our database, with rank #1 being the strongest.  \ntype: integer\n\n**ahrefs_rank_target**: The strength of the target domain's backlink profile compared to the other websites in our database, with rank #1 being the strongest.  \ntype: integer\n\n**alt**: The alt attribute of the link.  \ntype: string nullable\n\n**anchor**: The clickable words in a link that point to a URL.  \ntype: string\n\n**broken_redirect_new_target**: The new destination of a modified redirect.  \ntype: string nullable\n\n**broken_redirect_reason**: The reason the redirect was considered broken during the last crawl.  \ntype: string nullable  \nenum: `\"droppedmanual\"` `\"droppedtooold\"` `\"dropped\"` `\"codechanged\"` `\"nxdomain\"` `\"robotsdisallowed\"` `\"curlerror\"` `\"invalidtarget\"` `\"nomorecanonical\"` `\"isnowparked\"` `\"targetchanged\"`\n\n**broken_redirect_source**: The redirecting URL that was modified, causing the redirect to become broken.  \ntype: string nullable\n\n**class_c** (5 units): The number of unique class_c subnets linking to the referring page.  \ntype: integer\n\n**discovered_status**: The reason the link was discovered during the last crawl: the page was crawled for the first time, the link was added to the page, or the link re-appeared after being removed.  \ntype: string nullable  \nenum: `\"pagefound\"` `\"linkfound\"` `\"linkrestored\"`\n\n**domain_rating_source**: The strength of the referring domain's backlink profile compared to the others in our database on a 100-point scale.  \ntype: float\n\n**domain_rating_target**: The strength of the referring domain's backlink profile compared to the others in our database on a 100-point scale.  \ntype: float\n\n**drop_reason**: The reason we removed the link from our index.  \ntype: string nullable  \nenum: `\"manual\"` `\"noratingunused\"` `\"notop\"` `\"tooold\"` `\"oldunavailable\"` `\"rescursive\"` `\"duplicate\"` `\"nxdomain\"` `\"malformed\"` `\"blockedport\"` `\"disallowed\"` `\"unlinked\"`\n\n**encoding**: The character set encoding of the referring page HTML.  \ntype: string\n\n**first_seen**: The date the referring page URL was first discovered.  \ntype: datetime\n\n**first_seen_link**: The date we first found a backlink to your target on a given referring page.  \ntype: datetime\n\n**http_code**: The return code from HTTP protocol returned during the referring page crawl.  \ntype: integer\n\n**http_crawl**: The link was discovered without executing javascript and rendering the page.  \ntype: boolean\n\n**ip_source**: The referring domain IP address.  \ntype: string nullable\n\n**is_alternate**: The link with the rel=“alternate” attribute.  \ntype: boolean\n\n**is_canonical**: The link with the rel=“canonical” attribute.  \ntype: boolean\n\n**is_content**: The link was found in the biggest piece of content on the page.  \ntype: boolean\n\n**is_dofollow**: The link has no special nofollow attribute.  \ntype: boolean\n\n**is_form**: The link was found in a form HTML tag.  \ntype: boolean\n\n**is_frame**: The link was found in an iframe HTML tag.  \ntype: boolean\n\n**is_homepage_link**: The link was found on the homepage of a referring website.  \ntype: boolean\n\n**is_image**: The link is a regular link that has an image inside their href attribute.  \ntype: boolean\n\n**is_lost**: The link currently does not exist anymore.  \ntype: boolean\n\n**is_new**: The link was discovered on the last crawl.  \ntype: boolean\n\n**is_nofollow**: The link or the referring page has the nofollow attribute set.  \ntype: boolean\n\n**is_non_html**: The link points to a URL with non-HTML content.  \ntype: boolean\n\n**is_redirect**: The link pointing to your target via a redirect.  \ntype: boolean\n\n**is_redirect_lost**: The redirected link currently does not exist anymore.  \ntype: boolean\n\n**is_root_source**: The referring domain name is a root domain name.  \ntype: boolean\n\n**is_root_target**: The target domain name is a root domain name.  \ntype: boolean\n\n**is_rss**: The link was found in an RSS feed.  \ntype: boolean\n\n**is_spam**: Indicates whether the backlink comes from a known spammy domain.  \ntype: boolean\n\n**is_sponsored**: The link has the Sponsored attribute set in the referring page HTML.  \ntype: boolean\n\n**is_text**: The link is a standard href hyperlink.  \ntype: boolean\n\n**is_ugc**: The link has the User Generated Content attribute set in the referring page HTML.  \ntype: boolean\n\n**js_crawl**: The link was discovered after executing javascript and rendering the page.  \ntype: boolean\n\n**languages**: The languages listed in the referring page metadata or detected by the crawler to appear in the HTML.  \ntype: array(string)\n\n**last_seen**: The date we discovered that the link was lost.  \ntype: datetime nullable\n\n**last_visited**: The date we last verified a live link to your target page.  \ntype: datetime\n\n**len_url_redirect**: The number of redirect chain URLs.  \ntype: integer\n\n**link_group_count**: The number of backlinks that were grouped together based on the aggregation parameter. This field cannot be used with aggregation 'all'.  \ntype: integer\n\n**link_type**: The kind of the backlink.  \ntype: string  \nenum: `\"redirect\"` `\"frame\"` `\"text\"` `\"form\"` `\"canonical\"` `\"alternate\"` `\"rss\"` `\"image\"`\n\n**linked_domains_source_domain**: The number of unique root domains linked from the referring domain.  \ntype: integer\n\n**linked_domains_source_page**: The number of unique root domains linked from the referring page.  \ntype: integer\n\n**linked_domains_target_domain**: The number of unique root domains linked from the target domain.  \ntype: integer\n\n**links_external**: The number of external links from the referring page.  \ntype: integer\n\n**links_internal**: The number of internal links from the referring page.  \ntype: integer\n\n**lost_reason**: The reason the link was lost during the last crawl.  \ntype: string nullable  \nenum: `\"removedfromhtml\"` `\"notcanonical\"` `\"noindex\"` `\"pageredirected\"` `\"pageerror\"` `\"lostredirect\"` `\"notfound\"`\n\n**name_source**: The complete referring domain name, including subdomains.  \ntype: string\n\n**name_target**: The complete target domain name, including subdomains.  \ntype: string\n\n**noindex**: The referring page has the noindex meta attribute.  \ntype: boolean\n\n**page_category_source**: Comma-separated list of AI-predicted hierarchical category paths for the referring page. Each value is a slash-prefixed path (e.g. /Business_and_Industrial/Advertising_and_Marketing/Marketing).  \ntype: string nullable\n\n**page_size**: The size in bytes of the referring page content.  \ntype: integer\n\n**page_type_source**: Comma-separated list of AI-predicted hierarchical page type paths for the referring page. Each value is a slash-prefixed path (e.g. /Article/How_to).  \ntype: string nullable\n\n**port_source**: The network port of the referring page URL.  \ntype: integer\n\n**port_target**: The network port of the target page URL.  \ntype: integer\n\n**positions**: The number of keywords that the referring page ranks for in the top 100 positions.  \ntype: integer\n\n**positions_source_domain**: The number of keywords that the referring domain ranks for in the top 100 positions.  \ntype: integer\n\n**powered_by**: Web technologies used to build and serve the referring page content.  \ntype: array(string)\n\n**redirect_code**: The HTTP status code of a referring page pointing to your target via a redirect.  \ntype: integer nullable\n\n**redirect_kind**: The HTTP status codes returned by the target redirecting URL or redirect chain.  \ntype: array(integer)\n\n**refdomains_source** (5 units): The number of unique referring domains linking to the referring page.  \ntype: integer\n\n**refdomains_source_domain** (5 units): The number of unique referring domains linking to the referring domain.  \ntype: integer\n\n**refdomains_target_domain** (5 units): The number of unique referring domains linking to the target domain.  \ntype: integer\n\n**root_name_source**: The root domain name of the referring domain, not including subdomains.  \ntype: string\n\n**root_name_target**: The root domain name of the target domain, not including subdomains.  \ntype: string\n\n**snippet_left**: The snippet of text appearing just before the link.  \ntype: string\n\n**snippet_right**: The snippet of text appearing just after the link.  \ntype: string\n\n**source_page_author**: The author of the referring page.  \ntype: string nullable\n\n**source_page_publish_date**: the date we identified the page was published  \ntype: date nullable\n\n**title**: The html title of the referring page.  \ntype: string\n\n**tld_class_source**: The top level domain class of the referring domain.  \ntype: string  \nenum: `\"gov\"` `\"edu\"` `\"normal\"`\n\n**tld_class_target**: The top level domain class of the target domain.  \ntype: string  \nenum: `\"gov\"` `\"edu\"` `\"normal\"`\n\n**traffic** (10 units): The referring page's estimated monthly organic traffic from search.  \ntype: integer\n\n**traffic_domain** (10 units): The referring domain's estimated monthly organic traffic from search.  \ntype: integer\n\n**url_from**: The URL of the page containing a link to your target.  \ntype: string\n\n**url_from_plain**: The referring page URL optimized for use as a filter.  \ntype: string\n\n**url_rating_source**: The strength of the referring page's backlink profile compared to the others in our database on a 100-point scale.  \ntype: float\n\n**url_redirect**: A redirect chain the target URL of the link points to.  \ntype: array(url)\n\n**url_redirect_with_target**: The target URL of the link with its redirect chain.  \ntype: array(string)\n\n**url_to**: The URL the backlink points to.  \ntype: string\n\n**url_to_plain**: The target page URL optimized for use as a filter.  \ntype: string18:T5c1,",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string"
            },
            "name": "where",
            "in": "query"
          },
          {
            "description": "A comma-separated list of columns to return. See response schema for valid column identifiers.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            },
            "name": "select",
            "in": "query"
          },
          {
            "description": "The protocol of your target.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "both",
                "http",
                "https"
              ],
              "default": "both"
            },
            "name": "protocol",
            "in": "query"
          },
          {
            "description": "The target of the search: a domain or a URL.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            },
            "name": "target",
            "in": "query"
          },
          {
            "description": "The scope of the search based on the target you entered.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "exact",
                "prefix",
                "domain",
                "subdomains"
              ],
              "default": "subdomains"
            },
            "name": "mode",
            "in": "query"
          },
          {
            "description": "The backlinks grouping mode.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "similar_links",
                "1_per_domain",
                "all"
              ],
              "default": "similar_links"
            },
            "name": "aggregation",
            "in": "query"
          },
          {
            "description": "A time frame to add lost backlinks to the report. Choose between `live` (no history), `since:<date>` (history since a specified date), and `all_time` (full history). The date should be in YYYY-MM-DD format.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "default": "all_time"
            },
            "name": "history",
            "in": "query"
          },
          {
            "$ref": "#/components/parameters/output"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/all-backlinks"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/all-backlinks"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error_400"
          },
          "401": {
            "$ref": "#/components/responses/error_401"
          },
          "403": {
            "$ref": "#/components/responses/error_403"
          },
          "429": {
            "$ref": "#/components/responses/error_429"
          },
          "500": {
            "$ref": "#/components/responses/error_500"
          }
        }
      }
    },
    "/site-explorer/broken-backlinks": {
      "get": {
        "tags": [
          "Backlinks profile",
          "MCP"
        ],
        "summary": "Broken Backlinks",
        "operationId": "site-explorer_broken-backlinks",
        "parameters": [
          {
            "description": "A manual timeout duration in seconds.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "integer"
            },
            "name": "timeout",
            "in": "query"
          },
          {
            "description": "The number of results to return.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "default": 1000
            },
            "name": "limit",
            "in": "query"
          },
          {
            "description": "A column to order results by. See the response schema for valid column identifiers, except for `http_code_target`, `last_visited_target`, `link_group_count`, which are not supported in `order_by` for this endpoint.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "examples": [
                "field_a,field_b:asc,field_c:desc"
              ]
            },
            "name": "order_by",
            "in": "query"
          },
          {
            "description": "The filter expression. The following column identifiers are recognized (this differs from the identifiers recognized by the `select` parameter).\n\n**ahrefs_rank_source**: The strength of the referring domain's backlink profile compared to the other websites in our database, with rank #1 being the strongest.  \ntype: integer\n\n**ahrefs_rank_target**: The strength of the target domain's backlink profile compared to the other websites in our database, with rank #1 being the strongest.  \ntype: integer\n\n**alt**: The alt attribute of the link.  \ntype: string nullable\n\n**anchor**: The clickable words in a link that point to a URL.  \ntype: string\n\n**class_c** (5 units): The number of unique class_c subnets linking to the referring page.  \ntype: integer\n\n**domain_rating_source**: The strength of the referring domain's backlink profile compared to the others in our database on a 100-point scale.  \ntype: float\n\n**domain_rating_target**: The strength of the referring domain's backlink profile compared to the others in our database on a 100-point scale.  \ntype: float\n\n**encoding**: The character set encoding of the referring page HTML.  \ntype: string\n\n**first_seen**: The date the referring page URL was first discovered.  \ntype: datetime\n\n**first_seen_link**: The date we first found a backlink to your target on a given referring page.  \ntype: datetime\n\n**http_code**: The return code from HTTP protocol returned during the referring page crawl.  \ntype: integer\n\n**http_code_target**: The return code from HTTP protocol returned during the target page crawl.  \ntype: integer nullable\n\n**http_crawl**: The link was discovered without executing javascript and rendering the page.  \ntype: boolean\n\n**ip_source**: The referring domain IP address.  \ntype: string nullable\n\n**is_alternate**: The link with the rel=“alternate” attribute.  \ntype: boolean\n\n**is_canonical**: The link with the rel=“canonical” attribute.  \ntype: boolean\n\n**is_content**: The link was found in the biggest piece of content on the page.  \ntype: boolean\n\n**is_dofollow**: The link has no special nofollow attribute.  \ntype: boolean\n\n**is_form**: The link was found in a form HTML tag.  \ntype: boolean\n\n**is_frame**: The link was found in an iframe HTML tag.  \ntype: boolean\n\n**is_homepage_link**: The link was found on the homepage of a referring website.  \ntype: boolean\n\n**is_image**: The link is a regular link that has an image inside their href attribute.  \ntype: boolean\n\n**is_nofollow**: The link or the referring page has the nofollow attribute set.  \ntype: boolean\n\n**is_non_html**: The link points to a URL with non-HTML content.  \ntype: boolean\n\n**is_redirect**: The link pointing to your target via a redirect.  \ntype: boolean\n\n**is_root_source**: The referring domain name is a root domain name.  \ntype: boolean\n\n**is_root_target**: The target domain name is a root domain name.  \ntype: boolean\n\n**is_rss**: The link was found in an RSS feed.  \ntype: boolean\n\n**is_spam**: Indicates whether the backlink comes from a known spammy domain.  \ntype: boolean\n\n**is_sponsored**: The link has the Sponsored attribute set in the referring page HTML.  \ntype: boolean\n\n**is_text**: The link is a standard href hyperlink.  \ntype: boolean\n\n**is_ugc**: The link has the User Generated Content attribute set in the referring page HTML.  \ntype: boolean\n\n**js_crawl**: The link was discovered after executing javascript and rendering the page.  \ntype: boolean\n\n**languages**: The languages listed in the referring page metadata or detected by the crawler to appear in the HTML.  \ntype: array(string)\n\n**last_seen**: The date we discovered that the link was lost.  \ntype: datetime nullable\n\n**last_visited**: The date we last re-crawled the referring page to verify the backlink is alive.  \ntype: datetime\n\n**last_visited_target**: The date we last re-crawled the target page to verify that it is broken.  \ntype: datetime nullable\n\n**len_url_redirect**: The number of redirect chain URLs.  \ntype: integer\n\n**link_group_count**: The number of backlinks that were grouped together based on the aggregation parameter. This field cannot be used with aggregation 'all'.  \ntype: integer\n\n**link_type**: The kind of the backlink.  \ntype: string  \nenum: `\"redirect\"` `\"frame\"` `\"text\"` `\"form\"` `\"canonical\"` `\"alternate\"` `\"rss\"` `\"image\"`\n\n**linked_domains_source_domain**: The number of unique root domains linked from the referring domain.  \ntype: integer\n\n**linked_domains_source_page**: The number of unique root domains linked from the referring page.  \ntype: integer\n\n**linked_domains_target_domain**: The number of unique root domains linked from the target domain.  \ntype: integer\n\n**links_external**: The number of external links from the referring page.  \ntype: integer\n\n**links_internal**: The number of internal links from the referring page.  \ntype: integer\n\n**name_source**: The complete referring domain name, including subdomains.  \ntype: string\n\n**name_target**: The complete target domain name, including subdomains.  \ntype: string\n\n**page_category_source**: Comma-separated list of AI-predicted hierarchical category paths for the referring page. Each value is a slash-prefixed path (e.g. /Business_and_Industrial/Advertising_and_Marketing/Marketing).  \ntype: string nullable\n\n**page_size**: The size in bytes of the referring page content.  \ntype: integer\n\n**page_type_source**: Comma-separated list of AI-predicted hierarchical page type paths for the referring page. Each value is a slash-prefixed path (e.g. /Article/How_to).  \ntype: string nullable\n\n**port_source**: The network port of the referring page URL.  \ntype: integer\n\n**port_target**: The network port of the target page URL.  \ntype: integer\n\n**positions**: The number of keywords that the referring page ranks for in the top 100 positions.  \ntype: integer\n\n**positions_source_domain**: The number of keywords that the referring domain ranks for in the top 100 positions.  \ntype: integer\n\n**powered_by**: Web technologies used to build and serve the referring page content.  \ntype: array(string)\n\n**redirect_code**: The HTTP status code of a referring page pointing to your target via a redirect.  \ntype: integer nullable\n\n**redirect_kind**: The HTTP status codes returned by the target redirecting URL or redirect chain.  \ntype: array(integer)\n\n**refdomains_source** (5 units): The number of unique referring domains linking to the referring page.  \ntype: integer\n\n**refdomains_source_domain** (5 units): The number of unique referring domains linking to the referring domain.  \ntype: integer\n\n**refdomains_target_domain** (5 units): The number of unique referring domains linking to the target domain.  \ntype: integer\n\n**root_name_source**: The root domain name of the referring domain, not including subdomains.  \ntype: string\n\n**root_name_target**: The root domain name of the target domain, not including subdomains.  \ntype: string\n\n**snippet_left**: The snippet of text appearing just before the link.  \ntype: string\n\n**snippet_right**: The snippet of text appearing just after the link.  \ntype: string\n\n**source_page_author**: The author of the referring page.  \ntype: string nullable\n\n**title**: The html title of the referring page.  \ntype: string\n\n**tld_class_source**: The top level domain class of the referring domain.  \ntype: string  \nenum: `\"gov\"` `\"edu\"` `\"normal\"`\n\n**tld_class_target**: The top level domain class of the target domain.  \ntype: string  \nenum: `\"gov\"` `\"edu\"` `\"normal\"`\n\n**traffic** (10 units): The referring page's estimated monthly organic traffic from search.  \ntype: integer\n\n**traffic_domain** (10 units): The referring domain's estimated monthly organic traffic from search.  \ntype: integer\n\n**url_from**: The URL of the page containing a link to your target.  \ntype: string\n\n**url_from_plain**: The referring page URL optimized for use as a filter.  \ntype: string\n\n**url_rating_source**: The strength of the referring page's backlink profile compared to the others in our database on a 100-point scale.  \ntype: float\n\n**url_redirect**: A redirect chain the target URL of the link points to.  \ntype: array(url)\n\n**url_redirect_with_target**: The target URL of the link with its redirect chain.  \ntype: array(string)\n\n**url_to**: The URL the backlink points to.  \ntype: string\n\n**url_to_plain**: The target page URL optimized for use as a filter.  \ntype: string18:T5c4,",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string"
            },
            "name": "where",
            "in": "query"
          },
          {
            "description": "A comma-separated list of columns to return. See response schema for valid column identifiers.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            },
            "name": "select",
            "in": "query"
          },
          {
            "description": "The protocol of your target.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "both",
                "http",
                "https"
              ],
              "default": "both"
            },
            "name": "protocol",
            "in": "query"
          },
          {
            "description": "The target of the search: a domain or a URL.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string"
            },
            "name": "target",
            "in": "query"
          },
          {
            "description": "The scope of the search based on the target you entered.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
[...]
